#waybar {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  background: @bg; 
  color: @fg; 
  border-bottom: 3px solid @border;
}


tooltip {
    background: @bg;
    color: @fg;
    border: 1px solid @maintxt;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 0.85em;
}
#clock {
  font-size: 1.2em;
  color: @maintxt;
}

#network {
  color: @alttxt;
}

#pulseaudio {
  color: @alttxt;
}

#battery {
  color: @maintxt;
}


/****************
 ** WORKSPACES **
 ****************/
#workspaces button {
  color: @maintxt;
  background: transparent;
  border: none;
  padding: 0 1px;
  font-weight: normal;
}

#workspaces button.active {
  color: @highlight;
  font-weight: bold;
}

#workspaces button:hover {
  background: @bg /*rgba(255, 77, 166, 0.15);  light pink background */
}
