window {
  background-color: rgba(0,0,0,0.7);
}

button {
  /* size */
  min-width: 100px;
  min-height: 100px;
  margin: 10px;

  /* border */
  box-shadow: none;
  border-radius: 20px;
  border-color: @border;
  border-style: solid;
  border-width: 3px;

  /* background */
  background-color: @bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0%;
  
  /* text */
  font-size: 18px;
  color: @alttxt;
}

/*button:focus, button:active, */
button:hover {
  border-radius: 20px;
  border-color: @highlight;
  border-style: solid;
  border-width: 3px;
}
